body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav .logo-box {
  padding-top: 90px;
  padding-left: 100px;
  float: left;
}

nav .logo {
  margin: 0;
  height: 50px;
  text-align: center;
}

nav .logo img {
  margin-top: -10px;
  width: 170px;
  height: 70px;
}

#login_form {
  padding-top: 40px;
}
#email, #password{
  margin-left: 10px;
  position: absolute;
  float: left;
  width: 55%;
  border: 2px solid;
}

#login_button{
  width: 100px;
  border: 2px solid;
  border-radius: 5px;
  margin-top: 25px;
  float: right;
  margin-right: 105px;
}

#sign_up_link{
  float: left;
  margin-top: 25px;
  margin-left: 15px;
}

.login {
  width: 300px;
  height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  border: 3px solid;
}

.header_menu{

  width: 90%;
  height: 30px;
  border: 3px solid;
}

nav ul{
  padding-top: 5px;
  padding-left: 0;
  /*margin-left: 10px;*/
  list-style: none;
}

nav li{
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 10px;
  display: inline;
}

a{
  text-decoration: none !important;
  color: #000;
}

nav li:last-child{
  margin-top: -6px;
  padding-right: 10px;
  float: right;
}

#search_area{
  float: right;
  padding-right: 200px;
  padding-top: 30px;
  position: relative;
}

.search__input {
  padding-right: 20px;
  width: 150px;
  border: 1px solid #e3e6e7;
  background-color: #fff;
  outline: none;
  border: 3px solid;
  margin-right: -10px;
  border-radius: 10px;
}

.search__submit {
  background: url('../images/search__submit.png') 0 0 no-repeat;
  width: 20px;
  height: 15px;
  display: block;
  border: none;
  position: absolute;
  top: 52%;
  right: 313px;
  padding: 0;
}
.button_close {
  background: url('../images/button_close.png') 0 0 no-repeat;
  width: 20px;
  height: 15px;
  display: block;
  border: none;
  position: absolute;
  top: 52%;
  right:190px;
  padding: 0;
}

.page_books_name{
  margin-left: 50px;
}

.table{
  width: 55%;
  margin: auto;
  margin-left: 50px;
  margin-top: 40px;
  border-collapse: collapse;
}
td, th , tr{
  border: 1px solid black;
}

.thead{
  background-color: #cecdd1;
}

#bookinfo{
  position: relative;
  margin-top: 250px;
  left: 30%;

}

.input{
  border: 2px solid;
  min-width: 350px;
}
.textarea{
  border: 2px solid;
  min-height: 150px;
  min-width: 350px;
}
.select{
  border: 2px solid;
  min-width: 150px;
}
.form{
  margin-left: 100px;
}
#conent{
  padding-left: 50px;
}
.button{
  border-radius: 5px;
  border: 2px solid;
  background-color: #e3e3e3;
  min-width: 80px;
  float: left;
  margin-left: 170px;
  margin-right: -160px;
}

.MJsKeyOn
{
  width: 60px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #d6d4d4;
  cursor: pointer;
}
.MJsKeyOff
{
  width: 65px;
  padding-left: 10px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #d6d4d4;
  cursor: pointer;
}
.MJsKeyOn:before
{
  content: "";
  background-color: #999797;
  padding: 9px 9px 9px 9px;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 5px;
  float: left;
  border-radius: 100%;
}
.MJsKeyOff:after
{
  content: "";
  background-color: #999797;
  padding: 9px 9px 9px 9px;
  margin-top: 1px;
  margin-left: 1px;
  float: right;
  border-radius: 100%;
}
.stars{
  width: 12px;
  cursor: pointer;
}
.button_table_edit{
  background-color: #9eb1ff;
  margin-left: 10px;
  border: 2px solid;
  border-radius: 15px;
  max-width: 45px;
}
.button_table_delete{
  margin-left: 14px;
  border: 2px solid;
  padding-left: 0;
  background-color: #f59090;
  border-radius: 15px;
  max-width: 50px;
}

