<!doctype>
<html ng-app = "mainApp">
<%- include ../parts/head.ejs %>
<body>
<div class="container">
    <header ng-controller="selectUsers">
        <div class="container-fluid header-fluid">
            <nav>
                <div class="header_menu">
                    <ul id="menu">
                        <li style="background-color: #d5d4d9;border-right: 2px solid;">
                            <a class="links_header_menu" href="/books">
                                Books
                            </a>
                        </li>
                        <li>
                            <a class="links_header_menu" href="/add">
                                Add
                            </a>
                        </li>
                        <li>
                            <a class="links_header_menu" href="/edit">
                                Edit
                            </a>
                        </li>
                        <li ng.repeat="user">
                            <%- email %>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <div id="search_area">
                <form class="search_form" ng-controller="search">
                    <input type="text" name="" id="search" class="search__input" placeholder="Search" style="padding-left: 25px">
                    <input type="submit" name="" value="" class="search__submit" ng-click="search()">
                    <input type="button" class="button_close" ng-click="clear()">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page_books_name">
                <h1>Books</h1>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div class="table_block table-responsive">
                <table class="table table-striped table-condensed table-hover" ng-controller = "showBooks">
                        <tr>
                            <th class="thead" onclick="sort(this)" style="min-width: 50px">№</th>
                            <th class="thead" onclick="sort(this)" style="min-width: 90px">Author</th>
                            <th class="thead" onclick="sort(this)" style="min-width: 65px">Title</th>
                            <th class="thead" onclick="sort(this)" style="min-width: 130px">Book Rating</th>
                            <th class="thead" onclick="sort(this)" style="min-width: 80px">Status</th>
                            <th class="thead"  id="actions">Actions</th>
                        </tr>
                        <tr ng-repeat="book in booklist" >
                            <td onclick="showBookInfo(this)" name={{book.id}}>{{book.id}}</td>
                            <td onclick="showBookInfo(this)" name={{book.id}}>{{book.author}}</td>
                            <td onclick="showBookInfo(this)" name={{book.id}}>{{book.title}}</td>
                            <td name={{book.id}} ng-if="book.book_rating==0"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.book_rating==1"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.book_rating==2"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.book_rating==3"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.book_rating==4"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/1.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.book_rating==5"><div class="lenStars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="1" class="star_1 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="2" class="star_2 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="3" class="star_3 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="4" class="star_4 stars">
                                    <img ng-click="func(all)" src="/images/2.png" alt="" mark="5" class="star_5 stars">
                                </div></td>
                            <td name={{book.id}} ng-if="book.status"><div class="MJsKey MJsKeyOn" status="1" ng-click="changeStatus()"></div></td>
                            <td name={{book.id}} ng-if="!book.status"><div class="MJsKey MJsKeyOff" status="0" ng-click="changeStatus()"></div></td>
                            <td name={{book.id}} class="actions"><input class="button_table_edit" type="button" ng-click="redirectToEdit(book.id)" value="Edit"><input class="button_table_delete" type="button" ng-click="removeBook(book.id)" value="Delete"></td>
                        </tr>
                </table>
            </div>
        </div>
        <div id="bookinfo">
        </div>
    </div>
</div>
<script>
    function all() {
        alert('11');
    }
    function sort(el) {
        var col_sort = el.innerHTML;
        console.log(el);
        var tr = el.parentNode;
        var table = tr.parentNode;
        var th, arrow, col_sort_num;

        for (var i=0; (th = tr.getElementsByTagName("th").item(i)); i++) {
            if (th.innerHTML == col_sort) {
                col_sort_num = i;
                if (th.prevsort == "y"){
                    arrow = th.firstChild;
                    el.up = Number(!el.up);
                }else{
                    th.prevsort = "y";
                    arrow = th.insertBefore(document.createElement("span"),th.firstChild);
                    el.up = 0;
                }
                arrow.innerHTML = el.up?"⯅ ":"⯆ ";
            }else{
                if (th.prevsort == "y"){
                    th.prevsort = "n";
                    if (th.firstChild) th.removeChild(th.firstChild);
                }
            }
        }

        var a = new Array();

        for(i=1; i < table.rows.length; i++) {
            a[i-1] = new Array();
            a[i-1][0]=table.rows[i].getElementsByTagName("td").item(col_sort_num).innerHTML;
            a[i-1][1]=table.rows[i];
        }

        a.sort();
        if(el.up) a.reverse();

        for(i=0; i < a.length; i++)
            table.appendChild(a[i][1]);
    }
</script>
<script src="/javascripts/indexScripts.js"></script>
<script type="text/javascript" src="/javascripts/controller.js"></script>
<script>
    var el1 = document.getElementsByClassName("stars");
    for (var z = 0; z < el1.length; z++) {
        elSt = el1[z];
        elSt.addEventListener("mouseover",function(){
            var nowHover = Number(this.getAttribute("mark"));
            for (var k = 0; k < nowHover; k++) {
                el1[k].setAttribute("src","/images/2.png");
            }
        },false);
        elSt.addEventListener("mouseleave",function(){
            var nowMark = Number(this.getAttribute("mark"));
            //Show Now Mark
            alert(nowMark);
        },false);
        elSt.addEventListener("mousedown",function(){
            var nowMark = Number(this.getAttribute("mark"));
            //Show Now Mark
            alert(nowMark);
        },false);
    }


    var el = document.getElementsByClassName("MJsKey");
    for (var i = 0; i < el.length; i++) {
        elem = el[i];
        if (Number(elem.getAttribute("status"))==1) {
            elem.innerHTML = "ON";

        }
        else if (Number(elem.getAttribute("status"))==0) {
            elem.innerHTML = "OFF";
        }
        elem.onmousedown = function(){
            if (Number(this.getAttribute("status"))==1) {
                this.innerHTML = "OFF";
                this.setAttribute("status","0");
                this.setAttribute("class","MJsKeyOff");
            }
            else if (Number(this.getAttribute("status"))==0) {
                this.innerHTML = "ON";
                this.setAttribute("status","1");
                this.setAttribute("class","MJsKeyOn");
            }
        }
    }
</script>
</body>
</html>