<!doctype html>
<html lang="en">
<%- include ../parts/head.ejs %>
<body>
<div class="container" ng-app="mainApp">
    <header ng-controller="selectUsers">
        <div class="container-fluid header-fluid">
            <nav>
                <div class="header_menu">
                    <ul id="menu">
                        <li >
                            <a class="links_header_menu" href="/books">
                                Books
                            </a>
                        </li>
                        <li>
                            <a class="links_header_menu" href="/add">
                                Add
                            </a>
                        </li>
                        <li style="background-color: #d5d4d9;padding-right: 10px;border: 2px solid" >
                            <a class="links_header_menu" href="/edit">
                                Edit
                            </a>
                        </li>
                        <li ng.repeat="user">
                            <%- email %>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="row">
        <div class="col-md-12">
            <div class="page_books_name">
                <h1>Edit</h1>
            </div>
        </div>
    </div>
    <div class="row" id="conent">
        <div class="col-md-12">
            <form ng-controller="editBook" name="bookForm">
                <inputs ng-repeat="book in bookedit">
                <a href="#">Replace file</a><br>
                <input ng-model="book.author" class="input" type="text" placeholder="author" id="add_author"><br><br>
                <input ng-model="book.title" class="input" type="text" placeholder="Title" id="add_title" ><br><br>
                <textarea ng-model="book.description" class="textarea" placeholder="Description" ></textarea><br><br>
                <select ng-model="book.status" class="select">
                    <option ng-if="book.status==0" selected="true">0</option>
                    <option ng-if="book.status==1">0</option>
                    <option ng-if="book.status==1" selected="true">1</option>
                    <option ng-if="book.status==0">1</option>
                </select><br><br>
                <input type="button" value="cancel" class="button"> <input type="button" class="button" value="submit" ng-click="editBook()">
                </inputs>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascripts/controller.js"></script>
</body>
</html>