<!DOCTYPE>
<html ng-app>
<%- include ../parts/head.ejs %>
  <body>
  <header>
    <div class="container-fluid header-fluid">
      <nav>
        <div class="row">
          <div class="col-md-4">
            <div class="logo-box">
              <div class="logo">
                <a href="/">
                  <img src="../images/test1.jpg" id="logo">
                </a>
             </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section class="login">
    <div  class="container" id="login_menu">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div id="login_form">
            <form id="login" action="/">
              <div id="err_wrong_login" style="color:red"></div>
              <span style="font-size: 17px">login  </span><input type="text" id="email" placeholder="Email Address" required="true"><br><br>
              <span style="font-size: 17px">pass  </span><input type="password" id="password" placeholder="password" required="true"><br><br>
              <a id="sign_up_link">sign up</a><input type="button" id="login_button" value="sign in" onclick="login(this)">
            </form>
            <div id="takeAnotherLogin" style="color: red;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascripts/login.js"></script>
  </body>
</html>
